<div id="application" data-user="<%= session[:user] %>"></div>
<script type="text/x-handlebars">
  <div class="info-bar">
    <div class="wrap">
      {{#if userLoggedIn}}
        {{partial "newswap"}}
      {{else}}
        {{partial "signin"}}
      {{/if}}
    </div>
  </div>
  <div>
    {{ outlet }}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="_filter">
  <div class="info-mini">
    <div id="filter-form">
      {{ input type="text" value=filterText placeholder="Ember.js" }}
      <p>Search for what people need: {{ input type="checkbox" checked=searchNeededOnly }}<br />
      Search for what people can help with: {{ input type="checkbox" checked=searchOfferedOnly }}</p>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="swaps">
  <div class="wrap">
    {{partial "filter"}}
    {{partial "listswaps"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name='_listswaps'>
  {{#each controller.filtered}}
    <div class="swap">
      <p class="blurb">{{twitter-profile user}} is looking for help with <strong>{{skill_needed}}</strong>.</p>
      <p class="blurb">In return, they can offer their help with <strong>{{skill_offered}}</strong>.</p>
      {{twitter-intent user skill_needed "btn btn-dark" "Offer your help"}}
    </div>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name='_newswap'>
  <form {{action "newswap" on="submit"}}>
    <p class="blurb text-light">I am looking for someone to help me with: {{input type="text" value=skill_needed placeholder="Ember.js" }}</p>
    <p class="blurb text-light">In return I can offer help with: {{input type="text" value=skill_offered placeholder="Ruby on Rails" }}</p>
    <input class="btn btn-light" type="submit" value="Save" />
  </form>
</script>

<script type="text/x-handlebars" data-template-name='_signin'>
  <div class="intro">
    <h2>Find people to swap skills with&hellip;</h2>
    <a class="btn btn-light" href="/auth/twitter">Sign in with Twitter</a>
    <p class="meta text-light">The app is <em>read only</em>, we'll never tweet from your account or alter anything.</p>
  </div>
</script>
