<!DOCTYPE html>
<html>
<head>
  <title>Skill Swap!</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body>
	<header>
		<div class="wrap">
			<h1><a href="/">Skillswap</a></h1>
			<% if user_signed_in? %>
				<a href="/signout" id="logout" class="btn btn-light">Sign Out</a>
			<% end %>
		</div>
	</header>
	<div class="clearfix"></div>
  <%= yield %>
  <footer>
    <div class="wrap">
      <p class="blurb center text-light meta-smaller">Created by <a href="http://twitter.com/jack_franklin">Jack Franklin</a> &amp; designed by <a href="http://twitter.com/benhowdle">Ben Howdle</a></p>
    </div>
  </footer>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3206068-21']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/lib/jquery.js"></script>
  <script src="/js/lib/ember.js"></script>
  <script src="/js/lib/ember-data.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
