<form action="/create" method="post">
  <p>I am looking for someone to help me with <input type="text" name="skill_needed" placeholder="Ember.js" /> and in return I can offer help with <input type="text" name="skill_offered" placeholder="Ruby on Rails" />.</p>
  <input class="btn btn-dark" type="submit" value="Save" />
</form>
